--extra-index-url https://download.pytorch.org/whl/cu124

mujoco==3.1.6
pyautogui
matplotlib
scipy
safetensors==0.5.3
datasets>=4.0.0,<5.0.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers>=5.3.0,<6.0.0
lerobot[feetech,smolvla] @ git+https://github.com/huggingface/lerobot.git@main
jupyter
glfw
